@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: Montserrat-italic;
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: SourceSans;
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: NeonTubes;
    src: url('../fonts/NeonTubes2.otf');
} 

:root{
    --clr-neon: hsl(288 100% 54%);
}
/*color:var(--clr-neon);*/
.neon-text{
    color: #d014ff;
    font-family: NeonTubes;
    letter-spacing: 10px;
    text-shadow: 0 0 0 transparent, 0 0 10px #d014ff,0 0 20px rgba(208, 20, 255, 0.5),0 0 40px #d014ff, 0 0 300px #d014ff, 0 0 200px #d014ff, 0 0 300px #d014ff, 0 0 500px #d014ff;
    animation: blinking 0.9s infinite alternate;
    animation: flicker-2 2s infinite alternate;
}

@keyframes blinking {
    75%{
        opacity: 0.80;
    }
}

@keyframes flicker {
    40% {
        opacity: 1;
    }

    42% {
        opacity: 0.8;
    }

    45% {
        opacity: 0.2;
    }

    46% {
        opacity: 1;
    }
}

@keyframes flicker-2 {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		/*text-shadow: none;*/
    opacity: .99;
		
	}

	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}



h1,h2,h3,h4,h5,h6{
    font-family: Montserrat;
    color: #E1E1E1;
}

.bold-text{
    font-weight: 600;
}

.heading-text{
    font-size: 65px;
}

.p-custom {
    font-family: Montserrat;
    color: #E1E1E1;
    font-size: 25px;
}

.p-content{
    font-family: SourceSans;
    color: #E1E1E1;
    font-size: 20px;
    font-weight: 200;
}

.p-content-regular{
    font-family: SourceSans;
    color: #E1E1E1;
    font-size: 20px;
    font-weight: 300;
    justify-content: center;
}

.pink-text{
    color:#CC397B;
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0.3s;
}

.pink-text:hover{
    color: #B8306D;
    transition: 0.3s;
}